<ion-list class="accordion-list service__list--blk">
    

    <ion-list-header no-lines no-padding>
        <button ion-item detail-none [style.background]="headerColor" (tap)="toggleAccordion()" class="accordion-header" [class.active]="expanded">
            <ion-list>
                <ion-item >
                    <ion-thumbnail item-start class="thumbnail__blk">
                        <img [src]="title">
                    </ion-thumbnail>
                    <div class="tile__head">
                        <h2>{{name}}</h2>
                        <p>{{desc}}</p>
                    </div>
                </ion-item>
            </ion-list>
        </button>
        <section #accordionContent [style.background]="contentColor" [class.active]="expanded" class="accordion-content">
            <ng-content></ng-content>
        </section>
    </ion-list-header>
</ion-list>
