
// SREEJITH 12-11-2017
.scroll-content {
    background: #edf1f7;
    padding: 0 10px!important;
}

.accordion-list-dashboard{
	.accordion-content{
		padding: 0!important;
		.item-inner{
			background: #e9eef5;
		}
	}
	h3{
		width: 100%;
		float: left;
		margin: 0 0px 4px 15px;
		padding: 0;
		color: #434343;
		font-size: 14px;
		font-weight: bold;
		small{
			font-weight: normal;
		}
	}
	ul{
		padding: 15px 0 15px 32px;
	    margin: 0;
	    li{
			list-style-type: disc;
			color: #1d8ec2;
			text-transform: capitalize;
			margin: 0px 0;
			span{
				color: #434343;
				font-size: 13px;
			}
	    }
	}
}

.service__list--blk {
    margin: 0;
/*    width: 90vw;
*/    .list-header-md {
        margin: 0;
    }
    .item {
        margin: 0;
        margin: 0!important;
        padding: 0!important;
        border: none!important;
    }
    .accordion-header {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ddd;
        background: none!important;
    }
    .item-inner {
        margin: 0!important;
        padding: 0!important;
    }
    .list {
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ddd!important;
        .thumbnail__blk {
            margin: 0;
            padding: 15px;
            width: 65px;
            min-width: auto;
            min-height: auto;
            float: left;
            height: 65px;
            text-align: center;
            img {
                width: auto;
                height: 40px;
                margin: 0 auto;
            }
            p{
				font-size: 46px;
				color: #fff;
				font-weight: bold;
				float: left;
				width: 100%;
				text-align: center;
				margin: -17px 0 0 0;
            }
            small{
				color: #fff;
				font-size: 12px;
				margin: -8px 0 0 0;
				float: left;
            }
        }
    } 
    .tile__head{
    	padding: 0 0 0 15px;
    	h2,p{
			color: #434343;
			padding: 0;
			margin: 0;
    	}
    	h2{
    		font-size: 17px;
    		    text-transform: uppercase;
    	}
    	p{
    		font-size: 12px;
    	}
    }  
}




.periodic__drivers{
	.service__list--blk {	  
	    .item {
	         background: #fff!important;
	    }
	
	    .accordion-content {
	        &.active {
	        	.item{
	        		background: #e62255!important;
	        	}
	        }
	    }	  
	    .list {
	        .thumbnail__blk {
	            background: #e62255!important;
	            
	        }
	    }   
	}
}

.hourly_housekeeper{
	.service__list--blk {	  
	    .item {
	         background: #fff!important;
	    }
	
	    .accordion-content {
	        &.active {
	        	.item{
	        		background: #22a9e7!important;
	        	}
	        }
	    }	  
	    .list {
	        .thumbnail__blk {
	            background: #22a9e7!important;
	            
	        }
	    }   
	}
}

.event_serving_team{
	.service__list--blk {	  
	    .item {
	         background: #fff!important;
	    }
	
	    .accordion-content {
	        &.active {
	        	.item{
	        		background: #00c6ae!important;
	        	}
	        }
	    }	  
	    .list {
	        .thumbnail__blk {
	            background: #00c6ae!important;
	            
	        }
	    }   
	}
}


.baby_sitters{
	.service__list--blk {	  
	    .item {
	         background: #fff!important;
	    }
	
	    .accordion-content {
	        &.active {
	        	.item{
	        		background: #fdd652!important;
	        	}
	        }
	    }	  
	    .list {
	        .thumbnail__blk {
	            background: #fdd652!important;
	            
	        }
	    }   
	}
}

.reg__toggle_blk{
	    width: calc(100vw - 98px);
	    .toolbar{
			padding: 0 !important;
			height: 54px !important;
			min-height: 54px !important;
			background: #fff;
			border-radius: 5px;
			border: 1px solid #d3d7dc;
	    }
	    .input-wrapper{
	    	margin:0 12px 10px 12px
	    }
	    .segment-button{
			border: 0;
			height: 54px;
			line-height: 54px;
			background: #fff;
			border-right: 1px solid #d3d7dc!important;
			&:last-child{
				border:0!important;
			}
	    }
	    h4{
	    	font-size: 10px!important;
	    	margin: 8px 0 -4px 0!important;
	    	padding: 0 0 0 0!important;
	    }
	     h5{
	    	font-size: 22px!important;
	    	margin: 0 0 0 0!important;
	    	padding: 0 0 0 0!important;
	    	small{
	    		font-size: 10px!important;
	    		color: #434343!important;
	    	}
	    }
	    .economy{
	    	h4,h5{
	    		color:#00ad6f;
	    	}
	    }
	     .silver{
	    	h4,h5{
	    		color:#828685;
	    	}
	    }
	     .bronze{
	    	h4,h5{
	    		color:#ae5e08;
	    	}
	    }
	     .gold{
	    	h4,h5{
	    		color:#e2b709;
	    	}
	    }
	     .platinum{
	    	h4,h5{
	    		color:#29b5e3;
	    	}
	    }
	     .diamond{
	    	h4,h5{
	    		color:#c90a76;
	    	}
	    }
}


.toggle__btn--blk{
	padding: 0 !important;
	margin: 70px 0 20px 0 !important;
    .toolbar{
		padding: 0 !important;
		height: 50px !important;
		min-height: 50px !important;
		background: #fff;
    }
    .input-wrapper{
    	margin:0;
    }
    .segment-button{
		border: 0;
		height: 54px;
		line-height: 54px;
		background: #fff;
		max-width: 100%;
		color: #2d3033;
		font-size: 15px;
    }
    .item-inner{
    	padding: 0!important;
    }
    .label {
		margin: 0!important;
		padding: 0!important;
	}
	.activated{
		background: #00c6ae!important;
		color: #fff!important;
		/*&:after {
		    content: "";
		    margin: 0 0.5em;
		    display: inline-block;
		    border: 7px solid transparent;
		    border-top: 8px solid gray;
		    border-bottom: 0 none;
		}*/
	}

}
.login_holder {
    padding: 0!important;
    margin: 0 -10px;
    height: 100vh;
    background: #019561;
	.login_logo{
		width: 100%;
	}
}