page-home {
    p {
        text-align: justify;
    }
    sliding-drawer {
        background-color: #34495e !important;
    }
    sliding-drawer .content {
        padding: 20px;
    }
}

.landing__page--blk {
    background: url(../assets/custom/home__bg.png);
    background-size: 100%;
    .scroll-content {
        background: transparent!important;
        ion-slides {
            height: 19vh;
            h2,
            h3 {
                margin: 0;
                padding: 0;
                color: #fff;
            }
            h2 {
                font-size: 20px;
                font-weight: 300;
                margin: -22px 0 5px 0;
            }
            h3 {
                font-size: 13px;
                font-weight: 300;
                margin: 0 0 10px 0;
            }
        }
    }
    .toggle__btn--blk {
        padding: 0 !important;
        margin: 0px 0 15px 0 !important;
        .toolbar {
            padding: 0 !important;
            height: 140px !important;
            min-height: 140px !important;
            background: #fff;
        }
        .input-wrapper {
            margin: 0;
        }
        .segment-button {
            border: 0;
            height: 144px;
            background: #fff;
            max-width: 100%;
            color: #2d3033;
            font-size: 15px;
            img {
                max-width: 34%;
                margin: 36px 0 -11px 0;
                border: 0;
            }
            h1 {
                margin: 8px 0 0 0;
                padding: 0;
                font-size: 23px;
                font-weight: 300;
                text-transform: capitalize !important;
            }
        }
        .item-inner {
            padding: 0!important;
        }
        .label {
            margin: 0!important;
            padding: 0!important;
        }
        .activated {
            background: #3fae67!important;
            color: #fff!important;
        }
    }
    .item--blk {
        width: 80%;
        margin: 13% auto 0;
        overflow: hidden;
        border-radius: 5px;
        .toggle__btn_sub--blk {
            padding: 0 !important;
            margin: 0px 0 0 0 !important;
            .toolbar {
                padding: 0 !important;
                height: 80px !important;
                min-height: 80px !important;
                background: #fff;
            }
            .input-wrapper {
                margin: 0;
            }
            .segment-button {
                height: 80px;
                background: #fff;
                max-width: 100%;
                color: #2d3033;
                font-size: 15px;
                padding: 10px;
                border-color: rgb(245, 245, 245)!important;
                border-bottom: 1px solid rgb(245, 245, 245)!important;
                border-right: 1px solid rgb(245, 245, 245)!important;
                img {
                    max-width: 34%;
                    margin: 0px 0 -8px 0;
                    border: 0;
                }
                h1 {
                    margin: 0 0 0 0;
                    padding: 0;
                    font-size: 18px;
                    font-weight: 300;
                    text-transform: capitalize !important;
                }
            }
            .item-inner {
                padding: 0!important;
            }
            .label {
                margin: 0!important;
                padding: 0!important;
            }
            .activated {
                background: #3fae67!important;
                color: #fff!important;
            }
        }
    }
}