.my__order--blk{
	.list {
      
        min-height: auto!important;
       
    }
	.accordion-list-dashboard{
		margin: 0 0 5px 0;
		float: left;
		width: 100%;
		border-left: 3px solid #09488c;
		.tile__head{
			h2{
				text-transform: capitalize;
				font-size: 15px;
				color: #888888;
				font-weight: normal;
				margin: 12px 0 3px 0;
				span{
					font-weight: bold;
					color: #09488c;
				}
			}
			p{
				text-transform: capitalize;
				font-size: 15px;
				color: #777;
				margin: 0 0 10px 0;
				font-weight: normal;
				span{
					font-weight: bold;
					color: #09488c;
				}
			}
		}
		.item-inner{
			background: #fff;
			.accordion-content{
				.item-inner{
					background: #f9f9f9;
				}
				
			}
			ul{
				background: #fff;
				padding: 0;
				margin: 0;
				li{
					display: -ms-flexbox;
					display: flex;
					-ms-flex-pack: justify!important;
					justify-content: space-between!important;
					-ms-flex-wrap: wrap;
					flex-wrap: wrap;
					-ms-flex-align: center!important;
					align-items: center!important;
					width: 100%;
					height: 35px;
					float: left;
					padding: 0 15px;
					border-bottom: 1px solid #e5e8ec;
					p{
						text-transform: capitalize;
						font-size: 15px;
						color: #777;
						margin: 0 0 0 0;
						font-weight: normal;
						float: left;
						
					}
					span{
						font-weight: bold;
						color: #09488c;
						float: right;
						font-size: 14px;
					}
					button{
						padding: 0!important;
					}
				}
			}
		}
		
	}
	accordion-list-myorder .active ion-icon {
		-webkit-transform: rotate(0deg)!important;
		transform: rotate(0deg)!important;
	}
	.cancel__btn{
		.button-inner{
			color: #a20505!important;
		}
	}
}